* {
    
    box-sizing: border-box;
}

html {
    font-size: 1 rem;
    height: 100%;
    min-height: 400px;
}

body, header, main, footer {
    /* border: 3px red solid; */
    min-height: 50px;
    margin: 0.5rem;    
}

.header-menubar a{
    text-decoration: none;
    color: black;
}
.header-menubar a:hover{
    color: blue;
}
header{
    background-color: white;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(128,123,128,0.55);
    -moz-box-shadow: 4px 6px 5px 0px rgba(128,123,128,0.55);
    box-shadow: 4px 6px 5px 0px rgba(128,123,128,0.55);
}
body{
    background-color: #f2f2f2;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* contenido principal de sitio */
main {
    min-height: 200px;
    overflow: auto;
}
main>div {
    min-height: 180px;
    margin: 0.5rem;
    /* border: 2px blue solid; */
    height: auto;
    float: left;
    width: 65%;
}
main>aside {
    min-height: 180px;
    margin: 0.5rem;
    /* border: 2px blue solid; */
    min-width: 25%;
    float: left;
    width: auto;

}

.secciones {
    height: auto;
    margin: 0.5rem;
    /* border:2px green solid; */
    overflow: auto;
    min-height: 20px;
}

.secciones article {
    /* border: 2px purple solid; */
    margin: 0.5rem;
    min-height: 20px;
}
#gif-ppal{
    width: auto;
}
.gif-giphy{
    width: 100%;
    
}
.contenidos-sec>img{
    width: 390px;
    height: 260px;
}
footer {
    background-color: white;
}
.header-logo{
    display: inline-block;
    margin-left: 20px;
}

.header-logo img{
    width: 100px;
    height: 50px;
}
.header-menubar{
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1rem;
}
.header-menubar ul{
    list-style: none;
    
}

.header-menubar li{
    float: left;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}
